@import './variables';

#dashboard {
  display: flex;
  height: 30vh;
  & div.MuiFormControl-root.formControl {
    background-color: $lightBlue;
  }
  & .list {
    margin-right: 1em;
    max-height: 100%;
    overflow: auto;
  }
}

@media only screen and (max-width: $mobileWidth) {
  #dashboard {
    flex-direction: column;
    height: 100vh;
    justify-content: center;
  }
}